.header {
    background: gray;
    height: fit-content;
    padding: 20px 0;
    margin-top: 100px;

    h1 {
        padding: 0 20px;
        font-weight: 500;
    }
}

.left-side {
    width: calc(60% - 12px);
    background: gray;
    height: fit-content;
    padding: 20px;
    margin-top: 10px;
    margin-right: 12px;

    h2 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
    }
}

.form-dados input[type="text"], .form-endereco input[type="text"] {
    padding: 8px 10px;
    margin-bottom: 8px;
}
.form-dados input[type="text"]:nth-child(2){
    width: calc(60% - 10px);
    margin-right: 10px;
}
.form-endereco input[type="text"]:nth-child(1) {
    width: calc(40% - 10px);
    margin-right: 10px;
}
.form-endereco input[type="text"]:nth-child(4) {
    width: calc(60% - 10px);
    margin-right: 10px;
}



.right-side {
    background: gray;
    height: fit-content;
    padding: 20px 0;
    margin-top: 10px;

    h2 {
        padding: 0 20px;
        font-size: 16px;
        font-weight: 400;
    }
}

