.header {
    background: gray;
    height: fit-content;
    padding: 20px 0;
    margin-top: 100px;

    h1 {
        padding: 0 20px;
        font-weight: 500;
    }
}

.left-side {
    background: gray;
    height: fit-content;
    padding: 20px 0;
    margin-top: 10px;

    h2 {
        padding: 0 20px;
        font-size: 16px;
        font-weight: 400;
    }
}

.right-side {
    background: gray;
    height: fit-content;
    padding: 20px 0;
    margin-top: 10px;

    h2 {
        padding: 0 20px;
        font-size: 16px;
        font-weight: 400;
    }
}